.hero {
  min-height: 350px;
  background: url('../img/expo/hero.jpg') center center no-repeat;
  background-size: cover;
  margin-bottom: 0;
  margin-top: 0;
  color: #FFF;
  padding: 1em 0 3em 0;
}

@-webkit-keyframes scale-in {
  0% {
    -wekbit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  70% {
    -wekbit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  70% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.social {
  text-align: center;
}

.social li {
  display: inline-block;
  margin: 0 0.5em;
}

.social a {
  display: block;
  width: 45px;
  height: 45px;
  text-indent: -2000px;
  background-repeat: no-repeat;
}

.facebook { background-image: url('../img/facebook.png'); }
.twitter { background-image: url('../img/twitter.png'); }
.youtube { background-image: url('../img/youtube.png'); }

.next-event {
  color: #000;
  -webkit-animation: scale-in 400ms ease-out 300ms;
  animation: scale-in 400ms ease-out 300ms;
}

.event-title {
  display: block;
  font-family: 'Droid Sans', sans-serif;
  font-size: 1.4rem;
  text-align: center;
  color: #000;
  text-shadow: none;
}

.event-note {
  text-align: center;
  margin: 0;
}

.event-btn {
  display: block;
  background: rgb(24, 154, 153);
  color: #FFF;
  margin: 0 10%;
  box-shadow: none;
  font-size: 1rem;
}

.event-btn:hover {
  background: rgb(44, 174, 173);
  color: #FFF;
}

.game-title, .game-maker, .game-desc {
  padding: 0 2rem;
}

.game-title {
  font-weight: bold;
  margin-bottom: 0;
  padding-top: 0.5em;
}

.game-maker {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.game-image {
  text-align: center;
}

.game-image img {
  display: inline-block;
  padding: 1em;
  margin: 1.5em auto;
}

.section-callout {
  background: rgb(24, 154, 153);
  color: #FFF;
  padding: 3em 0;
  margin-top: 0;
  margin-bottom: 0;
}

.section-callout h2,
.section-callout h3 {
  color: #FFF;
}

.section-callout input {
  padding: 1em;
  font-size: 1em;
  border: none;
  width: 100%;
  margin-bottom: 1em;
  color: #000;
}

.section-callout .btn {
  color: #FFF;
  background-color: rgb(3, 99, 143);
}

.section-callout .btn:hover {
  background-color: rgb(23, 119, 163);
}

.section-callout a {
  color: #FFF;
  font-weight: bold;
  text-decoration: underline;
}




/*******************************
RESPONSIVE STYLES
********************************/

/* Medium Screens (Tablets) */
@media only screen and (min-width: 40.063em) {

  .hero {
    min-height: 200px;
  }

  .social {
    text-align: left;
  }

  .social li {
    margin: 0 1em 0 0;
  }

  .section-callout input {
    width: auto;
    margin: 0 0.5em 0 0;
  }

  .logo-grid a {
    display: inline-block;
    margin: 1em;
  }

}

/* Large Screens (Laptops) */
@media only screen and (min-width: 64.063em) {

  .hero {
    min-height: 480px;
  }

  .event-title {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 0.8em;
  }

  .event-date, .event-loc {
    padding-left: 4em;
    margin-left: 1.6em;
    color: #000;
  }

  .event-date strong, .event-loc strong {
    font-size: 1.1em;
  }

  .event-date {
    background: url('../img/event-date.svg') left center no-repeat;
    background-size: 45px;
  }

  .event-loc {
    background: url('../img/event-loc.svg') left 8px no-repeat;
    background-size: 40px;
  }

  .event-btn {
    margin: 0 3em 0;
  }

  .social {
    margin: 1em 0 0 0;
  }

  .game-image {
    text-align: left;
  }

  .game-image img {
    display: block;
    padding: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .section-callout input {
    padding: 1.2em;
    font-size: 1.2em;
  }

  .section-callout .btn {
    padding: 1.2em 3em;
  }

}
