.btn {
  background: rgb(24, 154, 153);
  color: #FFF;
  padding: 12px 14px;
  border-radius: 4em;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.btn:hover {
  background: rgb(44, 174, 173);
}


/*******************************
RESPONSIVE STYLES
********************************/

/* Medium Screens (Tablets) */
@media only screen and (min-width: 40.063em) {

  .btn {
    font-size: 1.1rem;
    padding: 0.5em 1.2em;
  }

}

/* Large Screens (Laptops) */
@media only screen and (min-width: 64.063em) {



}
