footer {
  background: #383b5d;
  color: #FFF;
  padding: 3em 0;
  margin-bottom: 0;
  margin-top: 0;
}

footer h1,
footer h2,
footer a {
  color: #FFF;
}

footer ul {
  font-size: 1.2em;
  margin-left: 2em;
  font-weight: bold;
}

.footer-logo {
  max-height: 200px;
  transform: rotate(-5deg);
  padding: 0 1em;
  transition: all 100ms ease-out;
}

.footer-logo:hover {
  transform: rotate(-2deg);
}
