header {
  background: #FFF;
}

.logo {
  color: #000;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 0.7em;
  text-transform: uppercase;
  font-weight: bold;
  margin: 5px auto 0px auto;
  width: 235px;
  -webkit-transition: -webkit-transform 100ms ease-out;
  transition: transform 100ms ease-out;
  display: block;
}

.logo:hover {
  color: #000;
  -webkit-transform: scale(1.1) rotate(-1deg);
  transform: scale(1.1) rotate(-1deg);
}

.logo img {
  max-width: 20px;
  -webkit-transition: -webkit-transform 100ms ease-out;
  transition: transform 100ms ease-out;
}

.logo:hover img {
  -webkit-transform: scale(1.1) translate(-1px, 1px) rotate(-2deg);
  transform: scale(1.1) translate(-1px, 1px) rotate(-2deg);
}

nav ul {
  list-style: none;
  margin: 0;
  text-align: center;
}

nav li {
  display: inline-block;
}

nav a {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 0.3em;
  display: block;
}


/*******************************
RESPONSIVE STYLES
********************************/

/* Medium Screens (Tablets) */
@media only screen and (min-width: 40.063em) {

  .logo {
    width: auto;
    margin: 10px 0 0 5%;
  }

  .logo img {
    max-width: 45px;
  }

  nav ul {
    float: right;
  }

  nav a {
    padding: 20px 0.3em;
  }

}

/* Large Screens (Laptops) */
@media only screen and (min-width: 64.063em) {

  .logo {
    margin-left: 0;
    font-size: 3rem;
  }

  .logo img {
    max-width: 55px;
  }

  .logo:hover img {
    -webkit-transform: scale(1.4) translate(0px, 5px) rotate(-3deg);
    transform: scale(1.4) translate(0px, 5px) rotate(-3deg);
  }

  nav a {
    padding: 32px 0.6em;
    font-size: 1.2em;
  }

}
